server {
    listen ${PROXY_SERVER_PORT};
    location / {
        proxy_pass http://${PROXIED_SERVER_HOSTNAME}:${PROXIED_SERVER_PORT};
    }

    location ~ \.(jpg|png)$ {
        root /data/images;
    }
}